
<h2>Question 2</h2>



<div style="width: 50%">
	<table id="tabelList" class="table table-hover">
		<thead>
			<tr>
				<th>Name</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.25/datatables.min.css"/> 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.25/datatables.min.js"></script>
<script>
$(document).ready(function () {
	fetch('https://api.publicapis.org/categories')
	.then(res => res.json())
	.then(response => 				
		$('#tabelList').DataTable({
			data: response,
			columns: [
			{
				data: null,
				render: function (data, type, row) {
					return row;
				}
			}]
		})
	)
});

</script>

