<h2>Question 1</h2>

<style>
	.row {
		display: flex;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;
	}
	.col-1{
		float:left;
		width:200px;
		height:300px;
		border: 1px solid black;
	}
	.col-2{
		float:left;
		height:300px;
		min-width:100px;
		border: 1px solid black;
		/*width:200px;*/
	}
	.col-3{
		float:left;
		border: 1px solid black;
		height:300px;
		width:300px;
	}
	
	 @media only screen and (max-width: 600px) {
		.scroller {
			width: 600px;
			overflow-x: scroll;
			scrollbar-width: thin;
		}
	 }
</style>
<div class="row">
	<div class="scroller">
		<div class="col-1">
			<input type="number" id="txtInput" size="10" />
		</div>
		<div class="col-2">
			<select id="selectType">
				<option value="0">IsPrime</option>
				<option value="1">IsFibanacci</option>
			</select>
		</div>
		<div class="col-3">
			<span id="displayValue"></span>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.js"></script>
<script>

        $('#selectType').on('change', function () {
            var type = $('#selectType').val();
            var num = $('#txtInput').val();

            if (type == 0) {
                var flag = isPrime(num);
                $('#displayValue').text(flag);
            } else {
                var flag = isFibanacci(num);
                $('#displayValue').text(flag);
            }
        });

        $('#txtInput').on("input", function () {
            var type = $('#selectType').val();
            var num = this.value;

            if (type == 0) {
                var flag = isPrime(num);
                $('#displayValue').text(flag);
            } else {
                var flag = isFibanacci(num);
                $('#displayValue').text(flag);
            }
        });

        function isPrime(num) {

            for (var i = 2; i < num; i++)
                if (num % i === 0) return false;
            return num > 1;
        }

        function isFibanacci(num) {
            var fib = [0, 1];

            for (var i = 2; i <= 10; i++) {
                fib[i] = fib[i - 2] + fib[i - 1];
                console.log(fib[i]);
            }
            //alert(fib);

            for (var j = 0; j <= fib.length; j++) {
                if (fib[j] == num) {
                    return true;
                }
            }
            return false;
        }
</script>